In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('uber data')

In [7]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [8]:
integer_columns = df.select_dtypes(include=['int64'])

In [9]:
integer_columns

         ride_id  passenger_count
0       24238194                1
1       27835199                1
2       44984355                1
3       25894730                3
4       17610152                5
...          ...              ...
199995  42598914                1
199996  16382965                1
199997  27804658                2
199998  20259894                1
199999  11951496                1

[200000 rows x 2 columns]

In [ ]:
Missing values

In [11]:
missing_values_count = df['dropoff_longitude'].isna().sum()

In [12]:
missing_values_count

1

In [13]:
pickup_datetime_dtype = df['pickup_datetime'].dtypes

In [14]:
pickup_datetime_dtype

dtype('O')

In [55]:
# Remove null values from the 'fare_amount' column-
data_cleaned = df.dropna(subset=['fare_amount'])
# Calculate the average fare amount
average_fare = data_cleaned['fare_amount'].mean()
print("Average Fare Amount:", average_fare)

Average Fare Amount: 11.359955250000002

In [21]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    r = 6371  
    # Radius of Earth in kilometers

    return r * c

# Calculate Haversine distance for each row
df['haversine_distance'] = haversine(df['pickup_latitude'], df['pickup_longitude'], df['dropoff_latitude'], df['dropoff_longitude'])

# Calculate the median Haversine distance
median_haversine_distance = df['haversine_distance'].median()

print("Median Haversine Distance:", median_haversine_distance, "kilometers")

Median Haversine Distance: 2.1209923961833708 kilometers

In [22]:
# Find the maximum Haversine distance-
max_haversine_distance = df['haversine_distance'].max()

print("Maximum Haversine Distance:", max_haversine_distance, "kilometers")

Maximum Haversine Distance: 16409.239135313168 kilometers

In [23]:
# Count the number of rides with a Haversine distance of 0.0-
rides_with_zero_distance = (df['haversine_distance'] == 0.0).sum()

print("Number of rides with 0.0 Haversine distance:", rides_with_zero_distance)

Number of rides with 0.0 Haversine distance: 5632

In [24]:
# Filter the dataset for rides with 0.0 Haversine distance-
rides_with_zero_distance = df[df['haversine_distance'] == 0.0]

# Calculate the mean 'fare_amount' for these rides
mean_fare_amount_for_zero_distance = rides_with_zero_distance['fare_amount'].mean()

print("Mean 'fare_amount' for rides with 0.0 Haversine distance:", mean_fare_amount_for_zero_distance)

Mean 'fare_amount' for rides with 0.0 Haversine distance: 11.585317826704546

In [25]:
# Find the maximum 'fare_amount'-
max_fare_amount = df['fare_amount'].max()

print("Maximum 'fare_amount' for a ride:", max_fare_amount)

Maximum 'fare_amount' for a ride: 499.0

In [26]:
# Find the row with the highest 'fare_amount'-
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]

# Calculate the Haversine distance for the costliest ride
costliest_ride_haversine_distance = haversine(costliest_ride['pickup_latitude'].values[0], costliest_ride['pickup_longitude'].values[0], costliest_ride['dropoff_latitude'].values[0], costliest_ride['dropoff_longitude'].values[0])

print("Haversine distance for the costliest ride:", costliest_ride_haversine_distance, "kilometers")

Haversine distance for the costliest ride: 0.0007899213191009994 kilometers

In [ ]:
df['pickup_year'] = pd.to_datetime(df['pickup_datetime'], errors = 'coerce')
# Count the number of rides recorded in the year 2014
rides_in_2014 = (df['pickup_year'] == 2014).sum()

print("Number of rides recorded in the year 2014:", rides_in_2014)

In [ ]:
# Extract the year and quarter from the 'pickup_datetime' column
df['pickup_year'] = df['pickup_datetime'].dt
df['pickup_quarter'] = df['pickup_datetime'].dt

# Count the number of rides recorded in the first quarter of 2014 (where year is 2014 and quarter is 1)
rides_in_first_quarter_2014 = ((df['pickup_year'] == 2014) & (df['pickup_quarter'] == 1)).sum()

print("Number of rides recorded in the first quarter of 2014:", rides_in_first_quarter_2014)

In [ ]:
# Extract day of the week and month
df['day_of_week'] = data['pickup_datetime'].dt.day_name()
df['month'] = df['pickup_datetime'].dt.month

# records for September 2010
september_2010_data = df[(df['month'] == 9) & (df['pickup_datetime'].dt.year == 2010)]

# Count rides for each day of the week
rides_per_day = september_2010_data['day_of_week'].value_counts()

# Find the day with the maximum number of rides
day_with_max_rides = rides_per_day.idxmax()

print("Day of the week in September 2010 with the maximum rides:", day_with_max_rides)
This code will extract the day of the week for each ride in September 2010 and then identify the day with the maximum number of recorded rides.

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import pandas as pd

# Split the data into training and testing sets (70-30 split)-
X = df[['passenger_count']]
y = df['fare_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train Linear Regression model-
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

# Train Random Forest Regression model-
random_forest_reg = RandomForestRegressor()
random_forest_reg.fit(X_train, y_train)

# Make predictions-
linear_reg_predictions = linear_reg.predict(X_test)
random_forest_reg_predictions = random_forest_reg.predict(X_test)

# Calculate adjusted R-squared values-
def adjusted_r2_score(r2, n, k):
    return 1 - ((1 - r2) * (n - 1) / (n - k - 1))

linear_reg_r2 = r2_score(y_test, linear_reg_predictions)
random_forest_reg_r2 = r2_score(y_test, random_forest_reg_predictions)

# Assuming k is the number of features-
k = X_test.shape[1]
n = X_test.shape[0]

adjusted_linear_reg_r2 = adjusted_r2_score(linear_reg_r2, n, k)
adjusted_random_forest_reg_r2 = adjusted_r2_score(random_forest_reg_r2, n, k)

print("Adjusted R-squared for Linear Regression:", adjusted_linear_reg_r2)
print("Adjusted R-squared for Random Forest Regression:", adjusted_random_forest_reg_r2)

Adjusted R-squared for Linear Regression: 9.8904336252148e-05
Adjusted R-squared for Random Forest Regression: 0.0003716071659032316